
/* MENU HAMBURGUESA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

.navbar{
padding: 0;
display: flex;
justify-content: space-around;
align-items: center;
z-index: 20;
position: fixed;
top: 0;
}


nav{
      position: fixed;
     width: 100%;
     top: 0;
}
.navmenu{
    display: flex;
    list-style: none;
    gap: 1rem;
    z-index: 22;
}

/* .Logomenu{
    width: 45%;
    max-width: 10rem;
    display: flex;
    padding: 0.5rem;
    margin-left: 40px;
    margin-top: 1px;
}
 */
.Logomenu{
    width: 300%;
    max-width: 10rem;
    display: flex;
    padding: 0.5rem;
    margin-left: -10px;
}

.navlink{
    color: #E7008F;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease;  
}

.navlink :hover{
    color: #D5EE1A;
}

.menuhamburguesa{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 50px;
    height: 5px;
    margin: 12px auto;
    background-color: #D5EE1A;
    transition: .3s ease;
    border-radius: 5px;
}

a{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

li{
    right: 0;
    }

@media (min-width: 390px) {
    .menuhamburguesa{
    display: block;
    cursor: pointer;
}
   .menuhamburguesa.active .bar:nth-child(2){
    opacity: 100%;
   }
   .menuhamburguesa.active .bar:nth-child(1){
    transform: translateY(0px) rotate(0deg);
   }
   .menuhamburguesa.active .bar:nth-child(3){
    transform: translateY(0px) rotate(0deg);
   }
   .navmenu{
    position: fixed;
    /* right: 0px; se ve todo y right: -195px desaparece*/
    right: -195px;
    gap: 3rem;
    top: 113px;
    flex-direction: column;
    background-color: #D5EE1A;
    width: 50%;
    height: 735px;
    bottom: 0;
    transition: .3s;
    padding: 35px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}
.navmenu.active{
   right: 0;
}
}
.serviciosmuestra {
    display: none;
    color: #226CFF;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease;  
    text-decoration: none;
}

.serviciosmuestra.activo{
    display: block;

}















