.Logomenu{
    width: 45%;
    max-width: 200px;
}

#encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}


.menuhamburguesa{
 width: 60px;
 height: auto;
 padding-top: 12px;
}



/* .Logomenu{
    display: flex;
    width: 100%;
}

.menuhamburguesa{
    display: flex;
    width: 100%;
    margin-left: 50px;
} */