body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}


.hero { padding: 20px; 
}

.hero h1 {
  font-size: 50px;
  line-height: 1.4;
  font-weight: 600;
  color: #fff;
}

.section {
  border-top: 1px solid #222;
  padding: 15px 20px;
}

.hero img {
  width: 70px;  
  height: auto;  
  margin-bottom: 150px;
   margin-top: -210px;
    margin-left: 290px;
}

.section-titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 28px;
  color: #D5EE1A;
  cursor: pointer;
  user-select: none;
 
}

.arrow {
  color: #E7008F;
  font-size: 20px;
  transition: transform 0.25s ease;
}

.arrow.rotate { transform: rotate(180deg); }

.section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease;
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

.section-content p { margin-bottom: 10px; color: #fff;font-size: 20px; font-family: "Darker Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; }

.carousel {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 15px auto;
  overflow: hidden;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  width: max-content;   
  transition: transform 0.3s ease;
}

.carousel-track img {
  width: 100%;
  max-width: 400px;    
  flex-shrink: 0;
  border-radius: 12px;
}


.section-content.active { max-height: 300px; }
