article {
    p{
        display: none;
    }
    margin-top: 6vw;
}
article.activo{
    p{
        display: block;
    }
}

.flechita {
   width: 5vw;
   height: auto;
   margin-left: 10px
}

@-webkit-keyframes rotate-180-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotate-180-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180eg);
    }
  }

.rotate-180 {
	-webkit-animation: rotate-180-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-180-cw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

